$dropdown-color-primary-contrast: $color-primary-contrast;
$dropdown-color-primary: $color-primary;
$dropdown-overflow-max-height: 45vh;
$dropdown-suggestion-active-background: $palette-grey-200;
$dropdown-suggestion-padding: $unit;
$dropdown-suggestions-background: $color-white;
$dropdown-value-border-radius: .2 * $unit;
$dropdown-value-margin: $unit * .25 $unit * .5 $unit * .25 0;
$dropdown-value-padding: $unit * .5 $unit * .75;
