/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

.LoginForm {

  .input-error {
    font-size: 14px;
    color: red;
    float: right;
  }

  .auth-error {
    color: red;
    text-align: center;
  }
}
