@import "../base";
@import url($font-icon-url);

%icon {
  display: inline-block;
  font-family: "Material Icons";
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  transform: translate(0, 0);
  text-rendering: auto;
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.date-range {
  @extend %icon;

  &::before {
    content: "\e916";
  }
}
