@import "../base";
@import "./config";

.DatePicker::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.DatePicker {
    padding: $unit 0;
}

.DatePicker-input > [role="input"] {
  cursor: pointer;
}

.DatePicker-header {
  padding: 1.6 * $unit 2 * $unit;
  color: $datepicker-primary-contrast-color;
  cursor: pointer;
  background-color: $datepicker-primary-color;

  @media only screen
    and (max-width: 800px)
    and (orientation:landscape) {
      position: absolute;
      left: -$datepicker-portrait-width;
      bottom: 0;
      top: 0;
      width: $datepicker-portrait-width;
  }
}

.DatePicker-year {
  display: inline-block;
  font-size: $datepicker-year-font-size;
  transition: opacity, font-size $animation-duration $animation-curve-default;
}

.DatePicker-date {
  @include typo-display-1;
  color: $color-white;
  display: block;
  font-weight: $font-weight-semi-bold;
  text-transform: capitalize;
  transition: opacity $animation-duration $animation-curve-default;
}

.DatePicker-wrapper {
  padding: $unit .5 * $unit 0;
}

.DatePicker-display-years {
  .DatePicker-date {
    opacity: $datepicker-inactive-opacity;
  }
  .DatePicker-year {
    font-size: $font-size-normal;
  }
}

.DatePicker-display-months {
  .DatePicker-year {
    opacity: $datepicker-inactive-opacity;
  }
}

.DatePicker-dialog {
  width: $datepicker-dialog-width;
  @media only screen
    and (max-width: 800px)
    and (orientation:landscape) {
        transform: translateX($datepicker-portrait-width / 2) !important;
  }

  > [role="body"] {
    padding: 0;
  }
  > [role="navigation"] > .button {
    color: $datepicker-primary-color;
    &:hover {
      background: $datepicker-primary-hover-color;
    }
    &:focus:not(:active) {
      background: $datepicker-primary-hover-color;
    }
  }
}
