#advancedSearch {
  .radios {
    width: 33.33%;
  }
  .advanced-search.black {
    .wrap {
      height: inherit;
      min-height: 85px;
      .form-group {

      }
    }
  }

  .advanced-search.color {
    margin-bottom: 0;
    border-bottom: 0;
  }
}
